@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Anek Devanagari", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fffcf2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.length {
  padding: 10px;
  border-radius: 10px;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button {
  display: block;
  margin: 1rem;
  border: none;
}

.password {
  justify-content: center;
  align-items: center;
}
